<div class="col card-warning-next-send-task">
    <div class="card w-100 border-warning mb-3 mx-auto" style="max-width: 18rem;">
        <div class="card-header card-header-warning">
            <h4>
                Proxima Entrega
            </h4>
        </div>
        <div class="card-body">
            <h5 class="card-title ">TAREA</h5>
            <p class="card-subtitle text-muted ">
                Asignatura
            </p>
            <hr>

            <div class="card-text">
                <p class="date-send "></p>
                Fecha entrega de la actividad
                </p>
                <div>
                    <p>
                        Descripcion
                    </p>
                </div>
            </div>
        </div>
        <div class="card-footer text-center border-warning">
            <button class="btn btn-success">
                He terminado la tarea
            </button>
        </div>
    </div>
</div>