$nav-font-color: white;
$nav-font-color-hover: white;
/* 
nav {
  background-color: $bg-nav-color;

  a {
    
    padding: .5em;

    color: $nav-font-color;

    i {
      font-size: 1em;
    }

    &:hover {
      i {
        color: white;
      }
      color: black;s
    }
  }
}
 */