<div class="container-md text-light my-5">
  <form action="/login" method="POST">
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Ingrese su nombre de usuario aquí</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre de usuario..." required>
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">Ingrese su contraseña aquí
      </label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Contraseña..." required>
      
    </div>
    <div class="col-12">
      <div class="d-md-block d-grid gap-2 justify-content-between">
        <button class="btn btn-success " type="submit">
          Iniciar Sesión
        </button>
        <a href="/signup" class="btn btn-light me-auto">Regístrese</a>
      </div>

    </div>
  </form>
</div>