<div class="container-md text-light my-5">
  
  <div class="alert alert-success ms-auto">
    <div class="row justify-content-between">
      <div class="col-auto">
        <p class="my-auto">
          ¿Ya estas Registrado?
        </p>
      </div>
      <div class="col-auto">
        <a href="/login" class="btn btn-light ms-auto">
          Click aquí, para inciar sesión
        </a>
      </div>
    </div>
  </div>
</div>